@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Responsive font size
  --fs-error: 7rem;
  --fs-xxl: 3rem;
  --fs-xl: 2.5rem;
  --fs-l: 2rem;
  --fs-sl: 1.75rem;
  --fs-m: 1.5rem;
  --fs-sm: 1.25rem;
  --fs-s: 1rem;
  --fs-ss: 0.9rem;
  --fs-sss: 0.8rem;
  --fs-xs: 0.7rem;
}

body {
  margin: 0;
  padding: 0;
  //background-color: #2a2a2a;
  //background-image: url("../../static/img/bg-cachclot.png");
  //reduire la taille de l'image 
  background-size: 100%;
  

}

@font-face {
  font-family: "Din_Round";
  src: url("../../static/fonts/DINRoundPro.woff2");
}

@font-face {
  font-family: "Din_Round_Med";
  src: url("../../static/fonts/DINRoundPro-Medi.woff2");
}

@font-face {
  font-family: "Din_Round_Bold";
  src: url("../../static/fonts/DINRoundPro-Bold.woff2");
}