#exerciseDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#divExerciseTypeChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#divExerciseTypeChoice .activeLevel {
    background-color: #f00;
    /* Couleur différente pour le bouton actif */
}

.missingField {
    border: 1px solid red;
}