body {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#exerciseAndAnswerDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#exercise {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#result {
    height: 40px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
}

.selectExerciseTypeDiv{

    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 5px;
}

.classLevelSelectionDiv{
    width: 10%;

    justify-content:flex-start;
    display: flex;
    align-items: center;
    border: black solid 1px;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
    margin: 2px;
}

.classLevelSelectionDiv .activeLevel {
    background-color: #f00; /* Couleur différente pour le bouton actif */
  }

  .selectExerciseTypeDiv .activeExerciseType {
    background-color: #00ff00; /* Couleur différente pour le bouton actif */
  }
