body{
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
}

h1{
    font-size: 2.3rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.switchWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    button {
        width: 250px;
        background-color: #bbbbbb;
        color: white;
        font-size: 1.1rem;
        border: solid black 1px;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
      }
      
    button:hover {
        background-color: #888888;
    }

    .StatementButton{
        background-color: #888888;
    }

    .QCMButton{
        border-radius: 0px 5px 5px 0px;
    }
}